<h2>Secrets Leaderboard</h2>

<table>
	<thead>
		<tr>
			<td><strong>Name</strong></td>
			<td><strong>Bio</strong></td>
			<td><strong>Secrets Known</strong></td>
		</tr>
	</thead>
	<tbody>
		<% @users.sort_by {|user| user.known_keys_count}.reverse.each do |user| %>
		<tr>
			<td><%= link_to user.name, user_path(user) %><% if session[:user_id]==user.id %> (You!)<% end %></td>
			<td><%= user.bio %></td>
			<td><%= user.known_keys_count %></td>
		</tr>
		<% end %>
	</tbody>
</table>
