<h2><%= @user.name %></h2>

<p><strong><% if logged_in? %> Your <% end %>Bio: </strong><%= @user.bio %></p>

<p><strong>
  <%= @user.name %> knows <%= @user.known_keys_count %> Secrets!
  <% if current_user.known_keys_count > @user.known_keys_count %>
    You know more secrets! Way to go!
  <% elsif current_user.known_keys_count < @user.known_keys_count%>
    They know more Secrets than you! Go find more keys!
  <% else %>
    You know the same number of Secrets! Go find more keys!
    <% end %>
</strong></p>
