<h2>Let's Share Some Secrets...</h2>


<h3>Here's a free KEY!</h3>
<p>lol just kidding still have to figure that out</p>

<h2>TO DO:</h2>
<ul>
	<li>Make it so you can only see your known secrets on the /secrets index page</li>
	<li>Form for creating a new secret</li>
	<li>form for looking up a secret</li>
	<li>Figure out how we deal with the Secret Subject (i.e. who the secret is about; do we make a dropdown menu? we could still do that cool alias thing, which would automatically add new users to the "potential subjects" list)
	<li>Generate a RANDOM FREE KEY for welcome page!</li>
	<li>Form for registering a new user</li>
	<li>Edit your own profile</li>
</li>