<h3>How about a secret?</h3>
<strong>Key: </strong>"<%= Secret.all.sample.key.string %>"
<h6> <i>Enter the above key on your dashboard page to recieve a secret!</i></h6>

<h2>TO DO:</h2>
<ul>
	<li>figure out controller routing for adding secrets</li>
	<li>figure out controller routing for creating keys in secrets form <li>
	<li>Figure out how we deal with the Secret Subject (i.e. who the secret is about; do we make a dropdown menu? we could still do that cool alias thing, which would automatically add new users to the "potential subjects" list)
</li>
