<h2>All Secrets</h2>
<p>Because we still have to do the special logic for hiding the secrets from unwelcome eyes!</p>

<table>
	<thead>
		<tr>
			<td><strong>Key</strong></td>
			<td><strong>Secret</strong></td>
			<td><strong>Subject Known</strong></td>
		</tr>
	</thead>
	<tbody>
		<% @secrets.each do |secret| %>
		<tr>
			<td><%= secret.key_string %></td>
			<td><%= secret.content %></td>
			<td><%= link_to secret.subject, secret.subject %></td>
		</tr>
		<% end %>
	</tbody>
</table>
