<h2> Your Secrets</h2>
	<% if @user.secrets!=[] %>
	<table>
		<thead>
			<tr>
				<td><strong>Key</strong></td>
				<td><strong>Secret</strong></td>
				<td><strong>Subject Known</strong></td>
			</tr>
		</thead>
	<tbody>
		<% @user.secrets.each do |secret| %>
		<tr>
			<td><%= secret.key_string %></td>
			<td><%= secret.content %></td>
			<td><%= link_to secret.subject, secret.subject %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
	<p>You have no secrets! Here's a key to start your collection:</p>
	"<%= Secret.all.sample.key.string %>"
<% end %>
